<configuration>
  <packageSources>
    <add key="avalonia-alpha" value="https://nuget-feed-all.avaloniaui.net/v3/index.json" protocolVersion="3" />
    <!-- nightly feed -->
    <add key="avalonia-nightly" value="https://nuget-feed-nightly.avaloniaui.net/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>
